:root {
    --color-primary: #A1C298;
    --color-secondary: #FBF2CF;
    --color-tertiary: #C6EBC5;
    --color-button: #FA7070;
    --color-button-hover: #da5e5e;
    --color-button-disabled: #C6EBC5;
    --color-text: #5b7c51;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #494949;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

/* Botones */
button {
    padding: 15px 40px; /* Más espacio interno */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #3b3b3b;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(90, 90, 90, 0.3);
    cursor: pointer;
    white-space: nowrap;
    width: 200px; /* Ancho incrementado */
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #A1C298;
}

.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre ícono y texto */
    color: var(--color-white);
    background-color: var(--color-button);
}

.button-draw img {
    margin: 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-new-game {
    background-color: var(--color-button-disabled);
    color: var(--color-white);
    cursor: not-allowed;
}

.button-new-game:enabled {
    background-color: var(--color-button);
    cursor: pointer;
}

.button-new-game:enabled:hover {
    background-color: var(--color-button-hover);
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre botones */
    width: 100%;
    max-width: 440px; /* Ajusta el ancho del contenedor para botones */
    margin-top: 20px;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #FA7070;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Estilo del cuerpo de las listas */
.name-list li {
    margin-bottom: 10px;
}

